# bot
discord.py[speed]==2.7.1
discord-py-paginators==0.3.0
aiohttp==3.14.3
# database
SQLAlchemy[asyncio]==2.0.52
asyncpg==0.31.0
ring==0.10.1
# aliases
regex==2026.9.3
# translations
i18nice[YAML]==0.16.0
# for conversions with ffmpeg
aiofiles==25.1.0
